* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #f3f4f6;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 50px;
  background: linear-gradient(90deg, #1e3a8a, #2563eb);
  color: white;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 25px;
}

.nav-links a {
  color: white;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  transform: translateY(-2px);
  opacity: 0.8;
}

.cart-link {
  display: flex;
  align-items: center;
  gap: 6px;
  color: white;
  font-weight: 500;
}

.cart-badge {
  background: gainsboro;
  color: black;
  font-size: 12px;
  padding: 3px 8px;
  border-radius: 20px;
  font-weight: bold;
}

.container {
  max-width: 1100px;
  margin: 40px auto;
  padding: 20px;
}



.home-container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: whitesmoke;
  color: white;
  text-align: center;
}

.home-content {
  max-width: 600px;
}

.home-content h1 {
  font-size: 40px;
  color: #1e293b;
  margin-bottom: 20px;
}

.home-content p {
  font-size: 18px;
  margin-bottom: 30px;
  opacity: 0.9;
  color: #333;
}

.home-btn {
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 30px;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 60px;
  background-color: #f3f4f6;
}

.contact-box {
  width: 350px;
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.contact-box h2 {
  text-align: center;
  margin-bottom: 20px;
}

.contact-box form {
  display: flex;
  flex-direction: column;
}

.contact-box input,
.contact-box textarea {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.contact-box textarea {
  resize: none;
  height: 100px;
}

.contact-box button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #2563eb;
  color: white;
  cursor: pointer;
  font-size: 14px;
}

.contact-box button:hover {
  background-color: #1e40af;
}

.success-message {
  background-color: #d1fae5;
  color: #065f46;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 14px;
}


.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
}

.shop-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #1e293b;
}


.product-card {
  background: white;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.06);
  transition: all 0.3s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12);
}

.product-card img {
  height: 200px;
  object-fit: contain;
  margin-bottom: 15px;
  transition: transform 0.3s ease;
}

.product-card:hover img {
  transform: scale(1.05);
}

.product-card h4 {
  font-size: 15px;
  margin-bottom: 10px;
  color: #333;
  min-height: 40px;
}

.product-card p {
  font-size: 18px;
  font-weight: bold;
  color: #2563eb;
  margin-bottom: 12px;
}

.product-card button {
  padding: 8px 12px;
  border-radius: 6px;
  background: #2563eb;
  color: white;
  border: none;
  transition: 0.3s;
}

.product-card button:hover {
  background: #1e40af;
}


 .primary-btn {
 background: grey;
  color: white;
  padding: 8px 14px;
  border-radius: 6px;
  margin-top: 10px;
}

.primary-btn:hover {
  background: #1e40af;
}

.success-btn {
  background: linear-gradient(135deg, #16a34a, #22c55e);
  color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 18px;
  cursor: pointer;
}


.danger-btn {
  background: linear-gradient(135deg, #dc2626, #ef4444);
  color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 18px;
  cursor: pointer;
}

.cart-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.06);
  margin-bottom: 20px;
}

.cart-details {
  flex: 1;
}

.cart-details h4 {
  margin-bottom: 8px;
}

.cart-image img {
  width: 120px;
  height: 120px;
  object-fit: contain;
}

.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f4f6;
}

.login-box {
  width: 300px;
  height: 80px;
  padding: 30px;
  background: white;
  border-radius: 8px;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 260px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.login-box h2 {
  margin-bottom: 10px;
}

.login-box p {
  margin-bottom: 20px;
  font-size: 14px;
  color: #555;
}

.login-btn {
  width: 100%;
  padding: 10px;
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.login-btn:hover {
  background-color: #1e40af;
}


/* MOBILE VIEW  */

@media (max-width: 768px) {

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
  }

  .nav-links {
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
  }

  .nav-links a {
    padding: 8px 0;
    font-size: 14px;
  }


  .login-card {
    width: 90%;
    padding: 25px;
  }

  .login-card h2 {
    font-size: 20px;
  }

  .product-grid {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .product-card {
    padding: 15px;
  }

  .product-card img {
    height: 180px;
    object-fit: contain;
  }

  .cart-item {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .cart-item img {
    width: 120px;
    margin-bottom: 10px;
  }


  .checkout-container {
    flex-direction: column;
  }

  .checkout-left,
  .checkout-right {
    width: 100%;
  }

  .checkout-right img {
    width: 120px;
    margin: 10px auto;
  }

  .success-btn,
  .danger-btn,
  .guest-btn,
  .logout-btn {
    width: 100%;
    font-size: 14px;
  }
}
